@import url('https://fonts.cdnfonts.com/css/avenir-lt-pro');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Avenir LT Pro', sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    scrollbar-width: thin;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #ffffff;
}

html::-webkit-scrollbar-thumb {
    background-color: #000000;
}