<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="/others/fa/css/all.min.css">
    
    <!-- Styles -->
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/media-queries.css">
</head>
<body>