@import url('https://fonts.cdnfonts.com/css/avenir-lt-pro');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Avenir LT Pro', sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    /* user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none; */
    scrollbar-width: thin;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #E8E6EA;
}

html::-webkit-scrollbar-thumb {
    background-color: #191D31;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.play {
    font-family: 'Play', sans-serif;
}

th,
td {
    border: 1px solid #191D31;
}

li.step.step-primary::after {
    background: #191D31 !important;
}

li.step.step-primary::before {
    background: #191D31 !important;
}